.env
.venv

__pycache__/
.cache
*.pyc
*.pyo
*.pyd

infrastructure/.terraform/
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/.terraform.lock.hcl
infrastructure/lambda_function.zip

DISCOVERY.md