.env
.venv

__pycache__/
.cache
*.pyc
*.pyo
*.pyd

infrastructure/.terraform/
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/.terraform.lock.hcl
infrastructure/.terraform.tfstate.lock.info
infrastructure/*.zip
infrastructure/build

*.json

DISCOVERY.md